:host {
  display: block;
}
.work-chat-row{
  position: fixed;
  right: 0;
  bottom: 0;
}
.work-chat-flex{
  position: relative;
  display:flex;
  align-items: flex-end;
}
.work-chat-tab{
  position: relative;
  display: flex;
  bottom: 0;
  right: 80px;
}

