:host {
  display: block;
}
.chat-content{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: calc(100vh - 60px - 24px);
  border-bottom-left-radius: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 455px;
  width: 328px;
  border-bottom-right-radius: 0;
  background-color: red;
  margin-left: 10px;

}
.chat-header{
  overflow-y: hidden;
  padding: 8px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: black;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: inherit;
  color:white;
}
.chat-content{
  
  flex-basis: 0px;
  position: relative;
  display: flex;
  z-index: 0;
  flex-grow: 1;
  flex-direction: column;
  line-height: 1.3333;
  background-color: var(--web-wash);
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;

  box-shadow: 0 0 10PX #e5e4e4;
}
.chat-list{
  
  overflow-x: hidden;
  display: flex;
  overflow-y: auto;
  overscroll-behavior: contain;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  /* scroll-behavior: smooth; */
  padding: 16px;
  height: 100%;
}
.chat-action{
  flex-shrink: 0;
  flex-basis: 47px;
  background-color: rgb(68 68 68 / 0%);
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px #00000033;
  pointer-events: none;

}

.chat-avatar{
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 8px;
}
.chat-avatar-user{
  width: 100%;
}
.chat-user-name{
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-overflow: ellipsis;
}
.chat-user-action{
  flex-shrink: 0;
  display: flex;
  margin-right: 4px;
  align-items: center;
}
.chat-user-action-close{
  min-height: 0;
  box-sizing: border-box;
  padding-right: 0;
  padding-bottom: 0;
  display: inline-flex;
  flex-shrink: 0;
  margin-bottom: 0;
  cursor: pointer;
  flex-basis: auto;
  position: relative;
  align-items: stretch;
  flex-direction: row;
  pointer-events: auto;
}

.action-close{
  width: 12px;
  height: 12px;
  background:url('../../assets/icon/cancel.svg');
  background-size: cover;
  border:none;
  outline: none;
}

.search{
  margin-left: 16px;
  background:transparent;
  border:none;
  color:white;
  outline: none;
  width: 77%;
}
.search-users{
  width: 100%;
}